@font-face {
    font-family: "Univers LT Std";
    src: url(Univers/UniversLTStd.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Univers LT Std";
    src: url(Univers/UniversLTStd-Bold.otf);
    font-weight: bold;
}

body {
    background-color: #f1f1f1;
    margin: 0;
    font-family: "Univers LT Std";
}

header {
    height: 220px;
    padding: 10px;
    width: auto;
    background-color: #333333;
}

main {
    height: auto;
    width: auto;
    margin: 0;
}

footer {
    height: 290px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #333333;
    display: flex;
    align-items: center;
    align-content: space-between;
}

.header-img-logo {
    width: auto;
    max-height: 220px;
    float: left;
}

.header-nav {
    text-align: center;
    background-color: #333333;
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    float: right;
    overflow: hidden;
    flex-direction: row;
    display: flex;
    align-items: center;
    position: relative;
    top: 72px;
    right: 30px;
}

.header-nav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.header-nav a:hover {
    background-color: #fbc880;
    color: #333333;
}

.header-nav-active {
    background-color: #d48344;
    color: #ffffff;
}

.title {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.main-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-content {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-filter {
    border-color: #333333;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    margin-left: 20px;
    position: sticky;
    align-self: flex-start;
    top: 25px;
}

.filter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-form-label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
}

.filter-form-text {
    background-color: #f1f1f1;
    color: #333333;
    padding: 10px;
    font-size: 14px;
    font-family: "Univers LT Std";
}

.filter-form-select {
    background-color: #f1f1f1;
    color: #333333;
    padding: 10px;
    font-size: 14px;
    font-family: "Univers LT Std";
}

.filter-form-radio {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.filter-form-radio li {
    width: 100px;
    height: 40px;
    position: relative;
    margin-bottom: 75px;
}

.filter-form-radio label,
.filter-form-radio input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.filter-form-radio input[type="radio"] {
    opacity: 0.011;
}

.filter-form-radio input[type="radio"]:checked+label {
    background: #d48344;
    color: #ffffff;
    border: 1px solid #000000;
}

.filter-form-radio label {
    padding: 5px;
    border: 1px solid;
    cursor: pointer;
}

.filter-form-radio label:hover {
    background: #DDD;
}

.filter-form-button {
    background-color: #f1f1f1;
    color: #333333;
    padding: 10px;
    font-size: 14px;
    font-family: "Univers LT Std";
    margin: 10px;
}

.footer-language {
    top: 0;
    right: 0;
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    font-size: 17px;
    font-family: "Univers LT Std";
}

.footer-textmenu {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    font-size: 17px;
    font-family: "Univers LT Std";
    margin-left: auto;
}

@media(max-width: 600px) {
    .header-nav {
        flex-direction: column;
        top: 24px;
    }
}

@media(min-width: 1280px) {

}